TABLE
{
	font-family: Verdana;
	font-size: 9pt;
	color: #333333;
}


.ArtistTitleCell
{
	height: 25px;
	padding: 15 0 0 0;
}

.ArtistTitle
{
	text-align: center;
	font-size: 15px;
	font-variant: small-caps;
	font-weight: bold;
}

.NumberOfShows
{
	font-size: 9px;
	font-style: italic;
	padding: 0 0 0 10;
}